.item1 {
  background-color: red;
  width: 100px;
  height: 100px;
}
.item2 {
  background-color: blue;
  width: 90px;
  height: 90px;
}
.item3 {
  background-color: violet;
  width: 90px;
  height: 90px;
}
.item4 {
  background-color: green;
  width: 90px;
  height: 90px;
}
.item5 {
  background-color: orange;
  width: 100px;
  height: 100px;
}
.holder {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  outline: solid black;
}
.item:nth-child(4) {
  order: 1;
}
.item:nth-child(2) {
  order: 1;
}
.item:nth-child(5) {
  order: -1;
  flex-grow: 1;
}
.item:nth-child(1) {
  order: -1;
  flex-grow: 1;
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;

}
